* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.container {
    background: #fff;
}

header {
    width: 100%;
    height: 60px;
    background: #f2f2f2;
}

header .container {
    background: none !important;
}

.p1 {
    height: 100px;
    line-height: 100px;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.logo1 li:nth-child(1) {
    margin-right: 75%;
}

.logo1 li {
    width: 60px;
    float: left;
    line-height: 60px;
}

.logo1 li a {
    font-size: 14px;
    color: #000;
    display: block;
}

.one span {
    color: red;
    font-family: 黑体;
    font-size: 12px;
}

.one {
    height: 350px;
    background: #fff;
    margin: 0 auto;
    position: relative;
}

.p2 {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    text-align: center;
}

label {
    width: 150px;
    float: left;
    text-align: right;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    color: #5a5a5a;
}

form {
    width: 100%;
    height: 90%;
    position: absolute;
}

form p input[type="text"],
form p input[type="password"] {
    width: 60%;

}

form label {
    width: 30%;
}

input[type="text"] {
    width: 358px;
    height: 40px;
    border: 1px solid #ccc;

}

input[type="password"] {
    width: 358px;
    height: 40px;
    border: 1px solid #ccc;
}

input[type="email"] {
    width: 358px;
    height: 40px;
    border: 1px solid #ccc;
}

input[type="tel"] {
    width: 173px;
    height: 40px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    width: 60%;
    height: 45px;
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    background: #32beff;
    color: #fff;
    text-align: center;
    line-height: 41px;
}

.p7 {
    width: 100%;
    position: absolute;
    top: 260px;
    left:31%;

    color: #000;
    font-size: 20px;
}

/*.p8 {*/
/*position: absolute;*/
/*top: 380px;*/
/*left: 20px;*/
/*}*/

/*.ul8 {*/
/*position: absolute;*/
/*top: 380px;*/
/*left: 180px;*/
/*height: 100px;*/
/*width: 400px;*/
/*}*/

/*.ul8 li {*/
/*float: left;*/
/*width: 95px;*/
/*height: 100px;*/
/*}*/

/*.ul8 li p {*/
/*height: 50px;*/
/*line-height: 50px;*/
/*color: #000;*/
/*font-size: 20px;*/
/*text-align: center;*/
/*}*/

/*.ul8 li img {*/
/*width: 50px;*/
/*height: 40px;*/
/*margin-left: 20px;*/
/*}*/

/*.p8 a {*/
/*margin-left: 30px;*/
/*}*/

.one a {
    color: #32beff;
}

/*-----------------------------------------------*/
.footer1 {
    width: 100%;
    height: 20%;
    background: #2b2c2d !important;
    margin: 0 auto;
}

.foot1 p {
    text-align: center;
    height: 52px;
    line-height: 52px;
    margin: 0 auto;
    color: #d1d1d1;
    font-size: 12px;
}

.foot1 p a {
    text-decoration: none;
    color: #dddddd;
}

.footer1 .container {
    background: none !important;
}

@media screen and (max-width: 1024px) {
    .footer1 p {
        width: 100%;
        height: 100%;
        background: #2b2c2d;
        background-size: 100% 100%;
    }
}

/*!*-------------------------------------*!*/
