* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*-------------------------------------*/
body {
    background: #f2f2f2;
}

.container {
    background: #fff;
}

.app {
    width: 100px;
    height: 100px;
}

.one {
    height: 50px;
    background: #f2f2f2;
}

.one li {
    width: 19.5%;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 2rem;
}

.one li:hover {
    background: #fff;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
.box img{
    float: left;
    width: 34px;
    height: 348px;
    margin-top: 35px;
    overflow: hidden;
}
.box1 {
    width: 190px;
    height: 220px;
    overflow: hidden;
    margin-left: 6%;
}

.box1 img {
    width: 190px;
    height: 220px;
    /*margin-left:6%;*/
}

.box1 img:hover {
    transform: scale(1.3);
    transition: all 1s ease 0s;
    -webkit-transform: scale(1.3);
}

.p2 {
    color: red;
}

.p2 .span1 {
    color: green;
    margin-left: 60%;
}
.tit {
    height: 50px;
    background: #eee2ca;
}

.tit h1 {
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    margin-top: 0 !important;
}
/*--------------------------------------*/
#banner5 .container{
    border-top: 2px solid #2572b7;
    border-bottom: 2px solid #2572b7;
}
.swiper-container{
    height: 600px!important;
}
.swiper-container img{
    /*width: 940px;*/
    height: 600px;
}
.p4{
    color: #999;
}

.p5{
    color: red;
}

.p5 .span1{
    color: green;
    margin-left: 30%;
}
video{
    width: 300px;
    height: 300px;
}
/*---------------------------------------*/
footer {
    width: 100%;
    height: 300px;
    background: #525455;
}
footer .container{
    background: none!important;
}
footer a {
    text-decoration: none;
    color: #fff;
}
footer ul li a:hover {
    color: red;
}
footer ul li a {
    line-height: 26px;
    font-size: 12px;
    color: #fff;
    display: block;
    text-decoration: none;
}
.footer1 {
    width: 100%;
    height: 55px;
    background: #2b2c2d!important;
    margin: 0 auto;
}
.foot1 p {
    text-align: center;
    height: 52px;
    line-height: 52px;
    margin: 0 auto;
    color: #d1d1d1;
    font-size: 12px;
}

.foot1 p a {
    text-decoration: none;
    color: #dddddd;
}
.footer1 .container{
    background: none!important;
}