* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.back-to-top {
    width: 58px;
    height: 55px;
    display: none;
    position: fixed;
    bottom: 100px;
    right: 80px;
    z-index: 99;
}

.back-to-top a {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 64px;
    color: #d1d1d1;
}

.back-to-top a:hover {
    color: #979797;
}

/*-------------------------------------*/
body {
    background: #f2f2f2;
}

.container {
    background: #fff;
}

.app {
    width: 100px;
    height: 100px;
}
/*--------------------------------------*/


#banner1 {
    background: url("../img/lb1.jpg");
    height: 465px;
}

#banner2 {
    background: url("../img/lb2.jpg");
    height: 465px;
}

#banner3 {
    background: url("../img/lb3.jpg");
    height: 465px;
}

#banner4 {
    background: url("../img/lb4.jpg");
    height: 465px;
}

.carousel-indicators li {
    border-color: red;
}

.tit {
    width: 100%;
    height: 50px;
    background: #eee2ca;
    text-align: center;
}

.tit h2 {
    line-height: 50px;
    font-size: 24px;
    margin-top: 0 !important;
    text-align: center;
}

.one {
    height: 50px;
    background: #f2f2f2;
}

.one li {
    width: 18.5%;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 1rem;
}

.one li a:hover {
    color: red;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
.box{
    width: 50% !important;
    height: 300px!important;
    overflow: hidden!important;
}
.box img{
    width: 50%!important;
    height: 300px!important;
    overflow: hidden!important;

}

.box1{
    height: 190px;
    overflow: hidden;
}
.box1 img{
    width:252px;
    height: 190px;
}
.box1 img:hover{
    transform:scale(1.3);
    -o-transform:scale(1.3);
    -moz-transform:scale(1.3);
    -webkit-transform:scale(1.3);
    -ms-transform:scale(1.3);
    transition:all 1s ease 0s;
}
.box11{
    height: 190px;
    overflow: hidden;
}
.box11 img{
    /*width:252px;*/
    height: 190px;
}
.box11 img:hover{
    transform:scale(1.3);
    -o-transform:scale(1.3);
    -moz-transform:scale(1.3);
    -webkit-transform:scale(1.3);
    -ms-transform:scale(1.3);
    transition:all 1s ease 0s;
}
.box12{
    height: 190px!important;
    overflow: hidden;
}
.box12 img{
    /*width:252px;*/
    height: 190px!important;
}
.box12 img:hover{
    transform:scale(1.3);
    -o-transform:scale(1.3);
    -moz-transform:scale(1.3);
    -webkit-transform:scale(1.3);
    -ms-transform:scale(1.3);
    transition:all 1s ease 0s;
}
.p2 {
    color: red;
}

.p2 .span1 {
    color: green;
    margin-left: 50%;
}

.p4, .p7, .p12 {
    color: #999;
}

.p5, .p8, .p13 {
    color: red;
}

.p5 .span1, .p8 .span1 {
    color: green;
    margin-left: 30%;
}

.p10 .span1 {
    color: green;
    margin-left: 50%;
}

.p13 .span1 {
    color: green;
    margin-left: 45%;
}

.long {
    width: 220px;
    height: 240px;
    overflow: hidden;
}

.bo {
    width: 2000px;
    animation: run 10s 1s ease infinite normal;
}

.long img {
    width: 220px;
    height: 240px;
    float: left;
}

@keyframes run {
    0% {
        margin-left: 0;
    }
    25% {
        margin-left: -221px;
    }
    50% {
        margin-left: -442px;
    }
    75% {
        margin-left: -663px;
    }
    100% {
        margin-left: 0;
    }
}

.row1 ul {
    margin: 0 auto;
    text-align: center;
}

.row1 img {
    margin-top: 30px;
}

.row1 a {
    color: #000;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.tit1 {
    width: 100%;
    height: 200px;
    background: url("../img/haierkf.jpg") no-repeat;
}

.cont1 {
    background: none !important;
}

.cont1 h2 {
    text-align: center;
    height: 100px;
    line-height: 100px;
}

.cont1 p {
    text-align: center;

}


.cont1 p {
    color: #000000;
    font-size: 12px;
}

/*---------------------------------------*/
footer {
    width: 100%;
    height: 300px;
    background: #525455;
}
footer .container{
    background: none!important;
}
footer a {
    text-decoration: none;
    color: #fff;
}
footer ul li a:hover {
    color: red;
}
footer ul li a {
    line-height: 26px;
    font-size: 12px;
    color: #fff;
    display: block;
    text-decoration: none;
}
.footer1 {
    width: 100%;
    height: 20%;
    background: #2b2c2d!important;
    margin: 0 auto;
}
.foot1 p {
    text-align: center;
    height: 100%;
    line-height: 52px;
    margin: 0 auto;
    color: #d1d1d1;
    font-size: 12px;
}

.foot1 p a {
    text-decoration: none;
    color: #dddddd;
}
.footer1 .container{
    background: none!important;
}
@media screen and (max-width: 1024px) {
    footer {
        width: 100%;
        height:100%;
        background: #525455;
        background-size:100% 100%;
    }
}
@media screen and (max-width: 1024px) {
    .footer1 p{
        width: 100%;
        height:100%;
        background: #2b2c2d;
        background-size:100% 100%;
    }
}