* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background: #f2f2f2;
}
/*header部分开始*/
header{
    width: 100%;
    height: 100px;
    position: fixed;
    top:0;
    background: #eee2ca;
    z-index: 9;
}
header .head{
    width: 1190px;
    height: 100px;
    margin: 0 auto;
}
/*header部分结束*/
/*轮播开始*/
#banner-bg {
    width: 1190px;
    height: 366px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 100px;
}
#banner-bg ul {
    width: 300000px;
    float: left;
    list-style: none;
}
#banner-bg .img ul li img {
    width: 100%;
    height: 366px;
    position: absolute;
}
#banner-bg .img li {
    float: left;
}
#banner-bg .ul1 {
    width: 200px;
    height: 50px;
    margin-left: 300px;
}
.ul1 {
    width: 400px;
    height: 50px;
    position: absolute;
    top:450px;
    left: 700px;
    border-radius: 50%;
}
.ul1 li {
    width: 80px;
    height: 5px;
    background: #fff;
    list-style: none;
    float: left;
    margin-left: 10px;
}
.ul1 .li1 {
    background: deepskyblue;
}
/*轮播结束*/
/*热门专区开始*/
.main-bg{
    width: 1190px;
    height: 3764px;
    margin: 0 auto;
    background: #fff;
}
.main{
    width: 100%;
    height: 80px;
    background: #fff;
}
.main ul{
    width: 1190px;
    height: 80px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}
.main ul li{
    width: 238px;
    height: 80px;
    float:left;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
}
.main ul li a{
    display: block;
    color:#666;
    text-decoration: none;
}
.main ul li a:hover{
    color:#32beff;
    border: 1px solid #ccc;
}
.hover{
    position: absolute;
    width: 238px;
    height: 2px;
    transform: translateX(0px);
    transition: transform .3s ease;
}
.tit{
    width: 100%;
    height: 50px;
    background: #eee2ca;
}
.tit h1{
    text-align: center;
    line-height:50px;
}
.main-bg{
    width: 1190px;
    height:2100px;
    margin: 0 auto;
}
.main1{
    width: 1190px;
    height:2000px;
}
.main1 ul li{
    width: 238px;
    height: 300px;
    float: left;
    margin-top: 10px;
}
.main1 ul li img{
    margin-left: 10px;
}
.main1 ul li .p1{
    width: 218px;
    height: 40px;
    font-size:14px;
    color:#474747;
    margin-left: 10px;
    line-height: 25px;
}
.main1 ul li .p2{
    font-size: 14px;
    color:#d8154d;
    margin-left: 10px;
    line-height: 40px;
}
.main1 ul li .p2 .span1{
    color:#078707;
    float:right;
    margin-right:10px;
}
#main3{
    width: 1190px;
    height:2020px;
    background: #fff;
}
#main3 ul li{
    width: 238px;
    height: 320px;
    float: left;
    margin-top: 10px;
}
#main3 ul li img{
    margin-left: 15px;
}
#main3 ul li .p6{
    width: 200px;
    height: 40px;
    font-size:14px;
    color:#000;
    margin-left: 10px;
    line-height:40px;
}
#main3 ul li .p7{
    width: 200px;
    height: 40px;
    font-size:14px;
    color:#000;
    margin-left: 10px;
    line-height:40px;
}
#main3 ul li .p8{
    font-size: 14px;
    color:#c40000;
    margin-left: 10px;
    line-height:20px;
}
#main3 ul li .p8 .span1{
    color:#078707;
    float:right;
    margin-right:10px;
}
/*热门专区结束*/
/*---------------------------------*/
.main-bg2{
    width: 1190px;
    height: 130px;
    margin: 0 auto;
    background: #fff;
    margin-top:30px;
}
.main-bg2 .ul4{
    width: 1190px;
    height: 130px;
    border-top: 2px solid #2572b7;
    border-bottom: 2px solid #2572b7;
}
.main-bg2 .ul4 li{
    width: 297px;
    height: 80px;
    float: left;
    margin-top: 30px;
}
.main-bg2 .ul4 li .p10{
    width: 297px;
    height: 40px;
    line-height: 60px;
    text-align: center;
    font-size:24px;
    color: #1e1e1e;

}
/*----------------------------------*/
.main-bg3{
    width: 1190px;
    height: 420px;
    margin:0 auto;
    background:#fff;
    margin-top: 4px;
}
.ul5 li{
    float:left;
    width: 384px;
    height:348px;
    margin-top: 35px;
    overflow: hidden;
}
.ul5 .li5{
    margin-left:35px;
}
.ul5 li span{
    display: block;
}
.ul5 li a{
    display: block;
}
.ul5 img{
    width: 348px;
    height: 348px;
}
footer{
    width: 100%;
    height: 572px;
    background: #525455;
}
footer .foot{
    width: 1190px;
    height: 572px;
    margin: 0 auto;
}
.footer{
    width: 100%;
    height: 55px;
    background: #2b2c2d;
}
.foot1{
    width: 1190px;
    height: 52px;
    margin: 0 auto;
}