* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background: #f2f2f2;
}

.container {
    background: #fff;
}

.app {
    width: 100px;
    height: 100px;
}

.one {
    height: 50px;
    background: #f2f2f2;
}

.one li {
    width: 18.5%;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 1rem;
}

.one li a:hover {
    color: red;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


.box1{
    height: 190px;
    overflow: hidden;
}
.box1 img{
    width:190px;
    height: 190px;
}
.box1 img:hover{
    transform:scale(1.3);
    -o-transform:scale(1.3);
    -moz-transform:scale(1.3);
    -webkit-transform:scale(1.3);
    -ms-transform:scale(1.3);
    transition:all 1s ease 0s;
}

.p10 {
    color: red;
}

.p10 .span1 {
    color: green;
    margin-left: 50%;
}
.tit {
    height: 50px;
    background: #eee2ca;
}

.tit h1 {
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    margin-top: 0 !important;
}
.img11{
    width: 100%;
}
/*--------------------------------------*/
#banner5 .container{
    border-top: 2px solid #2572b7;
    border-bottom: 2px solid #2572b7;
}
.swiper-container{
    height: 366px!important;
}
.swiper-container img{
    width: 100%;
    height: 366px;
}
/*---------------------------------------*/
footer {
    width: 100%;
    height: 300px;
    background: #525455;
}
footer .container{
    background: none!important;
}
footer a {
    text-decoration: none;
    color: #fff;
}
footer ul li a:hover {
    color: red;
}
footer ul li a {
    line-height: 26px;
    font-size: 12px;
    color: #fff;
    display: block;
    text-decoration: none;
}
.footer1 {
    width: 100%;
    height: 20%;
    background: #2b2c2d!important;
    margin: 0 auto;
}
.foot1 p {
    text-align: center;
    height: 100%;
    line-height: 52px;
    margin: 0 auto;
    color: #d1d1d1;
    font-size: 12px;
}

.foot1 p a {
    text-decoration: none;
    color: #dddddd;
}
.footer1 .container{
    background: none!important;
}
@media screen and (max-width: 1024px) {
    footer {
        width: 100%;
        height:100%;
        background: #525455;
        background-size:100% 100%;
    }
}
@media screen and (max-width: 1024px) {
    .footer1 p{
        width: 100%;
        height:100%;
        background: #2b2c2d;
        background-size:100% 100%;
    }
}